/*#novel_content {*/
/*    -moz-appearance: textfield-multiline;*/
/*    -webkit-appearance: textarea;*/
/*    border: 1px solid gray;*/
/*    font: medium -moz-fixed;*/
/*    font: -webkit-small-control;*/
/*    height: 100px;*/
/*    overflow: auto;*/
/*    padding: 2px;*/
/*    resize: both;*/
/*    width: 30px;*/
/*}*/